body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BDE0FE;
    color: #333;
}

header {
    background-color: #CDB4DB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;

}

header img {
    max-width: 200px;
    height: auto;
}

header div h2 {
    font-size: 1.5rem;
    color: #333;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #FFAFCC;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #FFC8DD;
}

header nav ul li a img {
    width: 20px;
    height: 20px;
}

main {
    line-height: 1.6;
    margin: 20px;
}

main nav h3{
    text-align: center;
    margin-bottom: 10px;
}

main nav div{
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-bottom: 20px;
}

main section ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 768px) {
    main section ul {
        grid-template-columns: repeat(6, 1fr);
    }
}

main section ul li {
    background-color: #FFAFCC;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main section ul li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

main section ul li a {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}

main section ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #CDB4DB;
    padding: 20px;
    text-align: center;
    color: white;
}

footer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
}